@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #202020;
    font-family: Poppins;
    color: white;
}
#loading{
position: fixed; 
width:100%; 
height:100vh; 
background: #fff 
url( 'https://fadilniju.github.io') 
no-repeat center; 
z-index: 99999,
}
<link href="https://cdn.sellix.io/static/css/embed.css" rel="stylesheet" />
a {
    text-decoration: none;
}

.main-block {
    background-color: #29539b;
background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
    display: block;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
    margin-left: 50px;
}

nav ul {
    display: flex;
    margin-right: 70px;
    margin-left: auto;
    float: right;
}

nav ul li {
    list-style: none;
    margin: 20px;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side {
    margin: 0 100px 50px 200px;
    text-align: center;
}

.left-side p {
    margin-bottom: 40px;
}

.left-side a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgb(16, 92, 210);
    background: linear-gradient(315deg, rgba(16, 92, 210, 1) 0%, rgba(0, 189, 255, 1) 100%);
}

.left-side a i {
    margin-left: 2px;
    transform: rotate(-90deg);
}

.left-side a i:hover {
    transform: rotate(360deg);
    transition: 0.7s ease-out;
}

.right-side {
    margin: 10px;
}

.right-side img {
    width: 50%;
}

.products {
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-block {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px 300px;
    color: white;
    text-align: center;
    margin: 50px 0;
    border-radius: 10px;
}

.social-block {
    background-color: #4a58ae;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #fff;
    margin: 0 30px;
}

.social-block:hover {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-5px);
}

.social-block img {
    width: 70px;
}

.text {
    display: block;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
}

.leaks {
    margin: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container2 {
    display: block;
}

.container2 h1 {
    font-size: 40px;
}

.container2 p {
    font-size: 20px;
}

.container3 {
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
}

.contact h1 {
    font-size: 40px;
}

.social-table {
    display: flex;
}

.social-block:nth-child(2),
.social-block:last-of-type {
    padding: 5px 90px !important;
    margin: 10px 30px !important;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-shadow: 0.5px 0.5px 10px !important;
    animation: hueanim 10s infinite linear !important;
    color: #0FF !important;
    font-weight: bold !important;
}

@keyframes hueanim {
    0% {
        -webkit-filter: hue-rotate(0deg);
    }

    100% {
        -webkit-filter: hue-rotate(360deg);
    }
}
<style>
  .float {  
    animation-name: ani-float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
  }
 
  @keyframes ani-float {
    0% { transform: translate(0,  0px); }
    50% { transform: translate(0, 15px); }
    100% { transform: translate(0, -0px); }    
  }
</style>

<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" 
  viewBox="-25 -25 250 250" class="float"> 
  <defs>
   <linearGradient id="lgrad" x1="0%" y1="50%" x2="100%" y2="50%" >
     <stop offset="0%" style="stop-color:#00ffff;stop-opacity:1.00" />
     <stop offset="100%" style="stop-color:#00ff00;stop-opacity:1.00" />
   </linearGradient>
  </defs>
  <path d="M189.95003689308396,56.30800001221236,C163.15241767081662,28.87864452440907,74.62967526900584,0.510467711766875,41.12715328006294,19.166913215621932,C15.345899143838178,33.52364023970263,-8.822861657864284,105.56661016201943,5.116122947030561,131.57609658265218,C24.634387779714803,167.99625619325568,126.47519777609452,193.8185885464331,164.10547169877134,176.74951790257728,C183.19700982898013,168.08960716916056,197.68351574698042,121.79884749820795,199.9953639023537,100.96291122948081,C201.25724429637418,89.58999324286597,197.9464504210897,64.49292373502173,189.95003689308396,56.30800001221236Z" stroke="none" fill="url(#lgrad)"  />
</svg>
